<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>StreetSOS - Incidents</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
  <div class="logo">
    <a href="/" class="lien">StreetSOS</a>
  </div>

  <div class="search">
    <input type="text" placeholder="Rechercher...">
  </div>

  <div class="user">
    <% if(user){ %>
      <span>Bonjour, <%= user %></span>
    <% }else{ %>
      <div class="box">
        <ul class="nav">
          <li class="item">
            <span>Connexion</span>
            <ul class="dropdown">
              <li><a href="/log_in">Connecter</a></li>
              <li><a href="/sign_up">S'inscrire</a></li>
            </ul>
          </li>
        </ul>
      </div>
    <% } %>
  </div>
  



</header>


<main>
  <p>Alertez les habitants d'Ottignies-Louvain-la-Neuve sur les différents incidents afin d'améliorer leur quotidien !</p>
  
  <section>
    <h2><a href="/">Retourner à la page home</a></h2> <!--Lien disponible pour retourner à la page home-->
  </section>

<form action="/incident" method="POST">
  <div class="big">
    <div class="contain">
      <div class="left"> <!--A gauche du tableau on affiche le sujet l'heure et la rue-->
        <p>Sujet :
          <input type="text" name="sujet" placeholder="Sujet de l'incident" required>
        </p>
        <p>Temps :
          <input type="time" name="temps" step="1" value="00:00:00" required>
        </p>
        <p>Rue:
          <input type="text" name="rue" placeholder="place de science" required>
        </p>
      </div>
      
      <div class="right"> <!--A droite du tableau on affiche date ville et code postal-->
        <p>Date :
          <input type="date" name="date" placeholder="DD/MM/YY" required>
        </p>
        <p>Code-postal :
          <input type="text" name="codePostal" placeholder="XXXX" required>
        </p>
        <p>Ville :
          <input type="text" name="ville" placeholder="Ville" required>
        </p>
      </div>
    </div>
  
    <div class="description"> <!--Classe pour décrire l'incident-->
      <textarea name="description" placeholder="Décrire l'incident" required></textarea>
    </div>
    <div class="valider"> <!--bouton pour soumettre l'incident-->
      <button type="submit">Valider</button>
    </div>
  </div>
</form>


</main>

</body>
</html>