header {
  color: rgb(255, 255, 255);
  border-radius: 12px; /*pour mettre les bords du cadre arrondis */
  background-color: rgb(69, 6, 90); /* background en mauve !!! A MODIFIER PAR LA SUITE SI ON VEUT UN AUTRE DESIGN !!!*/
  display: flex; /*mettre sur une meme ligne */
  justify-content: space-between; /* on espace les 3 pour pas que ca soit collé */
  align-items: center; /*pour alligner au milieu la barre qui contient le logo, la recherche et l'utilisateur */
}

header .logo {
  font: italic small-caps bold 40px/60px Georgia, serif;
  margin-left: 2%;
  
}

header .search {
  text-align: center;
}

header .search input {
  width: 80%;
  font-size: 15px;
  font-style: italic;
  border-radius: 12px;
  border: 1px solid rgb(69, 6, 90);
  padding: 5px 10px;
}


header .user {
  font-size: 17px;
  text-align: right;
  margin-right: 2%;
  color:rgb(255, 255, 255);
}


.contain {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-width: 3px;
  border: 2px solid #6c0f83;
}

.incident_content {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.incident_content input{
  width: 95%;
  height: 30px;
  align-items: center;
}

.incident_content div{
  flex: 1;
}

.incident_content input{
  padding-left: 10px;
  width: 96%;
  font-size: 15px;
  font-style: italic;
  border-radius: 12px;
  border: 1px solid rgb(69, 6, 90);
}


.description{
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
}


.description input{
  width: 96%;
  font-size: 15px;
  font-style: italic;
  border-radius: 12px;
  border: 1px solid rgb(69, 6, 90);

}
.valider {
  align-self: flex-end;
  background-color: rgb(69, 6, 90);
  padding: 10px 10px;
  border-radius: 12px;
  margin: 5px;
  text-align: center;
}
.valider button{
  background-color: rgb(69, 6, 90);
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

table {
  width: 100%;
  color: rgb(255, 255, 255);
  font-style: italic;
}

th {
  background-color: rgb(69, 6, 90);
  border-radius: 12px; /*pour mettre les bords du cadre arrondis */
}

.welcome {
  display: flex;
  flex-direction: column; /* aligne les éléments en colonne */
  border: 2px solid rgb(69, 6, 90);
  border-radius: 12px; /*pour mettre les bords du cadre arrondis */
  padding: 20px;
  margin: auto; /*pour mettre au milieu le cadre */
  max-width: 900px; /* donner une taille max au cadre */
  background-color: #ffffff;
  color: rgb(69, 6, 90);
  box-shadow: 0 4px 10px rgba(69, 6, 90, 0.2); /*Donner une ombre au cadre RETIRER? CAR CA CHANGE PAS TROP A VOIR MAIS JAIME BIEN*/
}


.date {
  text-align: right;
  font-size: 17px;
}


.incident {
  text-align: center;
  color:rgb(69, 6, 90);
  text-decoration: underline;

}

.incident_now {
  color:rgb(69, 6, 90);
  text-decoration: underline;
}

.adress input{
  width: 30%;
  font-size: 15px;
  font-style: italic;
  border-radius: 12px;
  border: 1px solid rgb(69, 6, 90);
  padding: 5px 10px;
}

.lien {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
}


.big{
  border: 2px solid #6c0f83;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.contain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border: none;
}

.left p{
  font-size: 20px;
}

.right p{
  font-size: 20px;
}

.left input{
  width: 98%;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #6c0f83;
  font-size: 20px;

}

.right input{
  width: 98%;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #6c0f83;
  font-size: 20px;

}




.description{
  width: 60%;
  padding: 10px;
  box-sizing: border-box;

}

.description textarea{
  resize: none;
  width: 98%;
  height: 180px;
  font-size: 30px;
  font-style: italic;
  border-radius: 12px;
  border: 2px solid rgb(69, 6, 90);
}


.valider{
  background-color: #f8d71a;
  border: 1px solid #000000;
  width: 100px;
  height: 18px;
  margin-right: 1%;
}

.valider button{
  background-color: #f8d71a;
  color: black;
  font-size: 20px;
}



.box{
  margin-right: 20px;
  text-align: center;
}
.nav{
  list-style: none;
  margin-right: 15px;
}
.nav a{
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.nav>.item{
  position: relative;
  height: 65px;
  line-height: 65px;
  text-align: center;
  transition: 3s;
  cursor: pointer;
}

.nav .dropdown {
  display: none;
  position: absolute;
  left: -28%;
  width: 170%;
  background-color: rgb(69, 6, 90);
  padding: 0;
  border-top: none;
}
.nav > .item:hover .dropdown {
  display: block;
}

.nav .dropdown li a:hover {
  background-color: rgb(165, 165, 165);
}

.loginButton{
  text-decoration: none;
  color: #000000;
}




